@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
/* Large devices (laptops/desktops, 992px and up) */
.preloader-page{
  background-color: 'black';
    width: 100vw;
   height:100vh;
}
.App {
  text-align: center;
}

.navbar{
  background-color:#0F2027;
}

/* #Pagina de bem vinda CSS */

.welcome-background{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 94vh;
}

.welcome-title{
  text-align: left;
  margin-top: 100px;
  color: white;
  font-size: 60px;
  font-family: 'Montserrat';
  letter-spacing: 10px;
}
.welcome-subtitle {
  text-align: left;
  margin-top: 50px;
  color: white;
  font-size: 40px;
  font-family: 'Nunito';
  letter-spacing: 10px;
}

.welcome-text{
  text-align: left;
  color: white;
}

.image-container{
  text-align: center;
        display: block;
}

.canvas-wrapper{
  position: absolute;
  overflow: hidden;
  height: 94vh;
  width: 99vw;
  opacity: 0.5;
}

/* #endregion */
/*
*
*/
/* #Lista de Contatos CSS */

.contatos-container{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0F2027, #0F2027, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
.contatos-title{
  text-align: center;
  font-size: 40px;
  color: aliceblue;
  font-family: "Quicksand";
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.card-style-render{
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  display: flex;
  width: 50%;
  }
.rows-font{
  font-family: "Quicksand";
}
 .table{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
} 

/* #endregion */
/*
*
*/
/* #Pagina adicionar contato CSS */

.adicionar-container{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0F2027, #0F2027, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 93vh;
}

.adicionar-titulo{
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: "Quicksand";
  letter-spacing: 9px;
}

.adicionar-label{
  color: white;
  
}


.signupSection {
  /* background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800); */
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(253, 253, 253, 0.7);
  font-family: 'Open Sans', sans-serif;
}

.info {
  width: 45%;
  background: rgba(20, 20, 20, .8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, .8);
  font-family: 'Open Sans', sans-serif;
}
.sign-title {
    padding-top: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }
.adicionar-texto {
    font-size: 18px;
  }
.icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgba(10, 180, 180, 1);
  }

.signupForm {
  width: 70%;
  padding: 30px 0;
  /*   */
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top , #302b63, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #302b63, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  transition: .2s;
}
.sign-title {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgb(10, 70, 180);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}
.inputFields:focus {
  border: 1px solid rgb(10, 180, 19);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .1);
}
.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid rgb(10, 146, 180);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

#join-btn:hover {
    background: rgba(20, 20, 20, .8);
    border: 1px solid rgba(10, 180, 180, 1);
    padding: 10px 80px;
  }



/* #endregion */
/*
*
*/
/* #Pagina editar contato CSS */
.editar-container{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 93vh;
}

.editar-titulo{
  color: white;
  text-align: center;
  margin-top: 25px;
  font-family: "Quicksand";
  letter-spacing: 5px;
}

.editar-label{
  color:white;
  width: 100px;
  display: inline-block;
  text-align: left;
  
}

.card-editar-usuario{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  top: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 10px 20px 5px rgba(69, 166, 245, 0.7);
  width: 50%;
}

.form-control-editar{
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}
.form-control-editar:hover{
  border: 1px solid rgb(211, 243, 70);
}
.editar-button:hover{
  padding: 6px 50px; 
}


/* #endregion */
/*
*/
/* RESPONSIVE AREA */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome-title{
    text-align: left;
    margin-top: 100px;
    color: white;
    font-size: 60px;
    font-family: 'Montserrat';
    letter-spacing: 5px;
  }
  .welcome-subtitle {
    text-align: left;
    margin-top: 50px;
    color: white;
    font-size: 40px;
    font-family: 'Nunito';
    letter-spacing: 10px;
  }
  /* Adicionar contatos*/
  .adicionar-container{
    width: 100vw;
    height: 100vh;
  }
  .adicionar-titulo{
    font-size: 25px;
    letter-spacing: 2px;
  }
  .lottie-blue-animation{
    visibility: hidden;
  }
  .signupSection {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(253, 253, 253, 0.7);
    font-family: 'Open Sans', sans-serif;
  }
  
  .info {
    width: 20%;
    background: rgba(20, 20, 20, .8);
    padding: 30px 0;
    border-right: 5px solid rgba(30, 30, 30, .8);
    font-family: 'Open Sans', sans-serif;
  }
  .inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    border: 1px solid rgb(10, 70, 180);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
  }
  .inputFields:focus {
    border: 1px solid rgb(10, 180, 19);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .1);
  }
  .noBullet {
    list-style-type: none;
    padding: 0;
  }
  
  #join-btn {
    border: 1px solid rgb(10, 146, 180);
    background: rgba(20, 20, 20, .6);
    font-size: 12px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
  }
  
  #join-btn:hover {
      background: rgba(20, 20, 20, .8);
      border: 1px solid rgba(10, 180, 180, 1);
      padding: 10px 80px;
    }
  /* Editar contatos*/
  .editar-titulo{
    margin-top: 15px;
    font-family: "Quicksand";
    letter-spacing: 2px;
  }
  .card-editar-usuario{
    top: 20px;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: auto;
    box-shadow: 3px 10px 20px 5px rgba(69, 166, 245, 0.7);
  }
  .card-style-render{
    margin: auto;
    width: 80%;
    height: 100%;
    }
  
}
/*
*
*
*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}
/*
*
*
*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .signupSection {
    top: 50%;
    width: 80%;
    height: auto;
    text-align: center;
    color: white;
  }
  .table{
    width: 100%;
  }
    /* #endregion */
}
/*
*
*
*/

